{% extends "base.html" %}
{% load static %}
 

{% block content %}
<div class="container">
    <div class="row">
            <div class="col-lg-12">
                <div class="trending-tittle">
                    <strong>Trending now</strong>
                    <!-- <p>Rem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                    <div class="trending-animated">
                        <ul id="js-news" class="js-hidden">
                            <li class="news-item">Russia Ukrine war begins</li>
                            <li class="news-item">Mcc has been passed in Nepal today</li>
                            <li class="news-item">People are protested strike to avoid the MCC</li>
                        </ul>
                    </div>
                    
                </div>
            </div>
    </div>
</div>
<br>
<h1 class="text-center">Recent News</h1>
<hr>
<br>


<div class="col-md-12">
<div class="row">
{% for p in li%}
<div class="col-md-3">
    <div class="card" style="width: 18rem;">
    
        <img src="{{p.image.url}}" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">{{p.title}}</h5>
                <p class="card-text">{{p.description|truncatewords:20 }}</p>
                <a href="{% url 'detail' p.id %}" class="btn btn-primary">Read More</a>
                <br>
            </div>
            </div>
            
    </div>
    {% endfor %} 
    </div>

</div> 
 


<br>
{% endblock content %}


 
 